extends layout

block content
  h1= title
  - let aeroplanes = [{name:"QATAR", type:"Business", noofpassengers: 50},{name:"Air India", type:"First class", noofpassengers: 100},{name:"Emirates", type:"Economy", noofpassengers: 100}]
  div(class="container-fluid") 
   div(class="row")
    each aeroplane,index in aeroplanes
        div(class="col-sm-2" onclick=`buy(${index})`) name: #{aeroplane.name} , type: #{aeroplane.type} , noofpassengers: #{aeroplane.noofpassengers} 

   script. 
    let itemNo=0
     function buy(itemNo)
     {
        alert(`You purchased Item ${itemNo+1}`)
     }